
html body {
  font-family: 'Trip Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}



.j-module1 {
  display: flex;
  position: relative;
  width: 1232px;
  height: 718px;
  padding: 20px 24px;
  margin: 0 35.5px;
}

#j-container {
  color: rgb(44, 44, 44);
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 20px 0;
  width: 100%;
}

#j-AOleft {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1.25;
  max-width: 450px;
  width: 450px;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style-type: none;
}

#j-left1 {
  display: flex;
  font-family: 'Trip Sans', Arial, Helvetica, sans-serif;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(44, 44, 44);
  justify-content: center;
  padding: 0 20px 20px 20px;
  width: 410px;
  height: 140px;
}

#j-left1-fix {
  padding-top: 20px;
  height: 120px;
  width: 410px;
  display: block;
  flex-grow: 1;
}

#j-left1-fix2 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

#j-left1-top {
  box-sizing: border-box;
  color: rgb(44, 44, 44);
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "Trip Sans", Arial, sans-serif;
  font-size: 16px;
  width: 434px;
  height: 58px;
  order: 0;
  padding: 0px 12px;
  -webkit-font-smoothing: antialiased;
}

#j-overview-header {
  color: rgb(0,0,0);
  font-family: "Trip Sans", Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin: 0px;
  padding: 0px;
  height: 36px;
  -webkit-font-smoothing: antialiased;
}

#j-overview-subtitle {
  display: inline-block;
  margin: 4px 4px 0 0;
}

#j-overview-subtitle span {
  display: inline-block;
  position: relative;
}

.j-review-count-wrapper{
  font-size: 14px;
  display: inline-block;
  color: #474747;
  border-bottom: 1px dotted #e0e0e0;
}

#j-left1-bottom-left {
  color: rgb(71, 71, 71);
  box-sizing: border-box;
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 14px;
  order: 1;
  padding: 0 12px;
  height: 62px;
  width: 362px;
}

#j-left1-bottom-left-inner {
  display: block;
}

#j-left-bottom-left-inner ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

#j-left-bottom-left-inner ul li {
  padding-top: 2px;
}

#j-rank-container {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin-top: 10px;
  padding-top: 4px;
}

#j-rank-container-inner {
  display: inline-block;
}

.j-black-link {
  color: rgb(71, 71, 71);
  text-decoration-color: rgb(71, 71, 71);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

#j-category-container {
  line-height: 18px;
  height: 24px;
}

#j-category-container span {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}

#j-category-container span a {
  border-bottom-color: rgb(224, 224, 224);
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

#j-left1-bottom-right {
  box-sizing: border-box;
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: 'Trip Sans', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0 12px;
  width: 72px;
  order: 2;
}

#j-left1-bottom-right-inner1 {
  height: 41px;
  width: 48px;
}

#j-left1-bottom-right-inner2 {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  align-items: flex-end;
}

#j-left1-bottom-right-inner3 {
  height: 20;
  width: 20;
  align-items: center;
  display: flex;
  cursor: pointer;
  position: relative;
}

#j-heart {
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  position: relative;
  text-align: right;
  vertical-align: middle;
  width: 20px;
  z-index: 1;
}

.j-empty-heart {
  fill: none;
}

.j-full-heart {
  fill: rgb(44, 44, 44);
}

/* BEGIN REVIEWLIST AND REVIEW COMPONENTS */

.j-review-list-container{
  margin-bottom:10px;
  padding:0 20px 20px 20px;
}

.j-review-list-tagline{
  padding-bottom: 5px;
}

.j-review-section-preview{
  padding-bottom:10px;
}

.j-review-section-preview .j-review{
  margin-top:10px;
}

@media (min-width:768px){
  .j-review-section-preview .j-review{
    margin-top:12px;
  }
}

.j-review-section-preview .j-review>div:not(:last-child){
  padding-bottom:16px;
}

@media (min-width:768px){
  .j-review-section-preview .j-review>div:not(:last-child){
    padding-bottom:28px;
  }
}

/* REVIEW COMPONENTS' STUFF */

.j-review{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}

.j-review-left{
  padding-right:12px;
}

@media (min-width:768px){
  .j-review-left{
    padding-right:15px;
  }
}


.j-review-avatar{
  display:inline-block;
  vertical-align:bottom;
  fill:currentColor;
}

.j-review-right>div:not(:last-child){
  padding-bottom:4px;
}

@media (min-width:768px){
  .j-review-right>div:not(:last-child){
    padding-bottom:6px;
  }
}

.j-body-and-tagline,.body-and-tagline:active,.body-and-tagline:visited{
  color:#474747;
  font-size:12px;
  line-height:16px;
}

@media (min-width:768px){
  .j-body-and-tagline,.body-and-tagline:active,.body-and-tagline:visited{
    font-size:14px;
    line-height:18px;
  }
}

.j-tagline{
  font-weight:700;
  padding-bottom:4px;
  cursor:pointer;
  font-size:13px;
  line-height:17px;
}

@media (min-width:768px){
  .j-tagline{
    font-size:15px;
    line-height:19px;
  }
}

.j-review-read-more{
  color:#069;
  cursor:pointer;
}

.j-reviews{

}

.j-bubbles-and-date{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
}

.j-bubbles-and-date .j-bubbles{
  font-size:14px;
}
@media (min-width:768px){
  .j-bubbles-and-date .j-bubbles{
    font-size:16px;
  }
}
.j-bubbles-and-date .j-date{
  padding-left:5px;
  font-size:11px;
}

@media (min-width:768px){
  .j-bubbles-and-date .j-date{
    font-size:12px;
  }
}

/* END REVIEW COMPONENT'S STUFF; RETURNING TO REVIEWLIST */

.j-review-section-link{
  font-size:14px;
  line-height:18px;
  color:#474747;
  text-decoration:none;
  border-bottom:1px dotted #bababa;
  cursor:pointer;
}

.j-review-section-link:active,.j-review-section-link:focus,.j-review-section-link:hover,.j-review-section-link:visited{
  color:#069;
  border-bottom:none;
}

.j-review-improve-container{
  padding-top: 10px;
  font-size:14px;
  line-height:18px;
  color:#474747;
}

.j-review-improve-spacer{
  position:relative;
  padding-left:25px;
  line-height:20px;
}

.j-review-improve-pencil{
  position:absolute;
  left:0;
  font-size:20px;
}

.j-review-improve-link{
  color:#474747;
  display:inline-block;
  border-bottom:1px dotted #e0e0e0;
  cursor:pointer;
  width: 100%;
}

.j-review-improve-link:hover{
  text-decoration:none;
}

@media (min-width:1024px){
  .j-review-improve-link:hover{
    border-bottom:1px solid #000;
  }
}

/* BEGIN TOURS AND EXPERIENCES */

.j-tours-outer{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  background-color:#fff;
}

.j-tours-outer>div{
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1;
  min-width:0;
  width:100%;
}

.j-tours-inner{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  border:solid #e0e0e0;
  border-width:0 0 1px;
  min-width:0;
  padding:10px 15px;
  cursor:pointer;
}

.j-tours-inner>button{
  padding:6px 0;
}

@media (min-width:768px){
  .j-tours-inner>button{
    padding:10px 0;
  }
}

.j-tours-inner:hover{
  background:#f2f2f2;
  box-shadow:0 3px 2px -2px hsla(0,0%,60%,.85);
}

@media (min-width:1024px){
  .j-tours-inner{
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -webkit-justify-content:initial;
    -ms-flex-pack:initial;
    justify-content:normal;
    border:1px solid #e0e0e0;
    border-radius:5px;
    padding:15px 20px;
    max-width:350px;
  }
}

.j-tours-top{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  overflow:hidden;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  padding-bottom:10px;
}

.j-tours-top-left{
  -webkit-align-self:start;
  -ms-flex-item-align:start;
  align-self:start;
  padding-right:10px;
  font-size:28px;
  line-height:32px;
}

.j-tours-top-right,.j-tours-top-right>div{
  overflow:hidden;
}

.j-tours-top-right>div{
  white-space:nowrap;
  text-overflow:ellipsis;
}

.j-tours-top-right-top{
  font-weight:700;
  font-size:14px;
  line-height:18px;
}

@media (min-width:768px){
  .j-tours-top-right-top{
    font-size:16px;
    line-height:20px;
  }
}

.j-tours-top-right-bottom{
  font-size:10px;
  line-height:14px;
}

@media (min-width:768px){
  .j-tours-top-right-bottom{
    font-size:12px;
    line-height:16px;
  }
}

.j-tours-bottom-inner{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  overflow:hidden;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  padding:0 10px;
}

.j-tours-bottom-text{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1;
  text-align:center;
  min-width:0;
  font-size:12px;
  line-height:16px;
}

@media (min-width:768px){
  .j-tours-bottom-text{
    font-size:14px;
    line-height:18px;
  }
}

.j-tours-bottom-arrow{
  font-size:16px;
  line-height:20px;
}

@media (min-width:768px){
  .j-tours-bottom-arrow{
    font-size:20px;
    line-height:24px;
  }
}

/* BEGIN IMAGE CAROUSEL */

#j-AOright {
  align-items: center;
  height: 638px;
  width: 772px;
  display: flex;
  flex-grow: 1.5;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

#j-AOright-inner1 {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(224, 224, 224);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  display: flex;
  flex-grow: 1;
  height: 550px;
  justify-content: center;
  margin: 0px;
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px;
  width: 770px;
}

#j-AOright-inner2 {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#j-AOright-inner3 {
  height: 100%;
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#j-AOright-inner4 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#j-AOright-inner5 {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

#j-photo-list {
/*   background-color: rgb(0,0,0); */
  position: relative;
  height: 100%;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
  padding: 0;
  margin: 0;
}

.j-carousel {
  display: list-item;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
  text-align: left;
  position: absolute;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: linear;
}

.j-carousel-photo {
  background-position-x: 50%;
  background-position-y: 50%;
/*   background-repeat-x;
  background-repeat-y; */
  display: block;
  height: 100%;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  text-align: left;
  width: 100%;
}

.j-photo {
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  border-color: rgb(44, 44, 44);
  border-style: none;
  border-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  bottom: 0px;
  display: block;
  left: 0px;
  right: 0px;
  top: 0px;
  text-align: left;
}

.j-active {
  opacity: 1;
}

.j-inactive {
  opacity: 0;
}

#j-photo-overlay-container {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  height: 550px;
  margin: 0px;
  opacity: 0;
  padding: 0px;
  position: absolute;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: linear;
  user-select: none;
  z-index: 1;
}

#j-photo-overlay-container:hover {
  background-color:rgba(224, 224, 224, 0.2);
  opacity: 1;
}

#j-full-view {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0.32);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: 400;
  height: 60px;
  left: 385px;
  line-height: 60px;
  padding: 0 18px;
  position: absolute;
  top: 275px;
  transform: matrix(1, 0, 0, 1, -65.5, -30);
  user-select: none;
  /* vertical-align: middle; */
  white-space: nowrap;
  /* width: 95px; */
}

#j-central-gallery-launcher {
  display: inline-block;
  fill: rgb(255, 255, 255);
  vertical-align: bottom;
}

img{
  border:0;
}

ul{
  list-style:none;
}

button{
  font-family:inherit;
}

#j-nav-dots-container{
  left:0;
  right:0;
  height:40px;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  position:absolute;
  bottom:0;
  background-image:linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.4));
}

#j-nav-dots-inner-wrapper {
  position:relative;
}

.j-nav-dot{
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  position:absolute;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  transition:.3s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-perspective:1000;
  perspective:1000;
}

.j-nav-dot:after{
  border-radius:100%;
  content:"";
  display:inline-block;
  width:6px;
  height:6px;
  background:rgba(238, 184, 184, 0.8);
}

.j-nd0:after {
  transform: translateX(-60px) scale3d(0,0,1);
  opacity: 0;
}

.j-nd1:after {
  transform: t ranslateX(-40px) scale3d(1,1,1);
}

.j-nd2:after {
  transform: translateX(-20px);
}

.j-nd4:after {
  transform: translateX(20px);
}

.j-nd5:after {
  transform: translateX(40px) scale3d(1,1,1);
}

.j-nd6:after {
  transform: translateX(60px) scale3d(0,0,1);
  opacity: 0;
}



.j-selected:after{
  background: white;
  width: 7px;
  height: 7px;
  transform: scale(1.3, 1.3) inherit;
}

#j-all-photos-inner-wrapper{
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}

/* .j-svg{
  display:inline-block;
  vertical-align:bottom;
  fill:currentColor;
} */

#j-all-photos-button{
  height:32px;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:left;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  position:relative;
  box-sizing:border-box;
  -webkit-tap-highlight-color:transparent;
  cursor:pointer;
  border:2px solid rgba(0,0,0,0);
  transition:background-color .1s linear,border-color .1s linear;
  background-color: rgba(0,0,0,.6);
  color:var(--onDarkButtonText);
  min-width:32px;
  border-radius:16px;
  padding:4px;
}

#j-all-photos-svg {
  display: inline-block;
  color: white;
  fill: white;
  cursor: pointer;
}

/* #all-photos-button:disabled{
  cursor:auto;
  color:var(--buttonTextDisabled);
} */

#j-all-photos-text-padding{
  padding-top:3px;
  padding-left:4px;
  padding-right:1px;
}

#j-all-photos-text {
  font-style:normal;
  color: white;
  line-height:120%;
  font-size:12px;
  font-family:var(--ta-sans-serif);
  font-weight:var(--trip-sans-medium);
  font-family:"Trip Sans";
  font-weight: 400;
  text-align: left;
}

#j-AOright-inner4{
  width:100%;
  height:100%;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) and (min-width:768px) and (max-width:1023px){
  #AOright-inner5{
    position:absolute;
  }
}

#j-AOright-inner5{
  position:relative;
}

#j-all-photos-container{
  z-index:4;
  position:absolute;
  right:0;
  left:0;
  bottom:0;
}

#j-photo-overlay-container{
  display:none;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1;
  opacity:0;
  cursor:pointer;
  transition:opacity .2s linear;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

@media (min-width:768px){
  #j-photo-overlay-container{
    display:block;
  }
}

#j-photo-overlay-container:hover{
  opacity:1;
}

#j-full-view{
  position:absolute;
  top:50%;
  left:50%;
  display:inline-block;
  height:60px;
  line-height:60px;
  padding:0 18px;
  font-size:20px;
  font-weight:400;
  color: rgb(44, 44, 44);
  white-space:nowrap;
  vertical-align:middle;
  background:rgba(0,0,0,.32);
  border-radius:3px;
  -webkit-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  color: white;
}

#j-full-view:hover{
  background:rgba(0,0,0,.5);
}

#j-photo-list{
  height:100%;
  position:relative;
}

.j-carousel{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity:0;
  transition:opacity .2s linear;
  list-style-type:none;
}

.j-active{
  opacity:1;
}

#j-navigate-left{
  border-radius:0 3px 3px 0;
  left:0;
  display: none;
}

#j-navigate-right{
  border-radius:3px 0 0 3px;
  right:0;
  display: inline-block;
}

#j-navigate-right,#j-navigate-left{
  opacity: 0;
  position: absolute;
  z-index:1;
  cursor:pointer;
  width:60px;
  height:46px;
  top:44.5%;
  background:rgba(0,0,0,.32);
  vertical-align: middle;
  text-align: center;
  color: white;
  font-weight: 300;
  padding-top: 14px;
}

#j-navigate-right:hover,#j-navigate-left:hover{
  background:rgba(0,0,0,.5);
}

#j-AOright-inner5:hover #j-navigate-left,#j-AOright-inner5:hover #j-navigate-right{
  opacity: 1;
}

#j-navigate-left div, #j-navigate-right div {
  font-size: 25px;
  transform: scale(1, 0.67);
}

@media (min-width:1024px){
  #j-AOright{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-grow:1.5;
    -ms-flex-positive:1.5;
    flex-grow:1.5;
    -webkit-flex-shrink:1;
    -ms-flex-negative:1;
    flex-shrink:1;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
  }
}

#j-AOright-inner1{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  background-color:#fff;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1;
  height:55vw;
  background-color:rgba(0,0,0,0);
}

#j-AOright-inner1>div{
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1;
  min-width:0;
  width:100%;
}

@media (min-width:768px) and (max-width:1023px){
  #j-AOright-inner1{
    height:45vw;
  }
}
@media (min-width:1024px){
  #j-AOright-inner1{
    overflow:hidden;
    border-radius:0 5px 5px 0;
    border:1px solid #e0e0e0;
    max-height:550px;}
}

#j-AOright-inner2,#j-AOright-inner3{
  height:100%;
  width:100%;
}

#j-AOright-inner3>div{
  position:relative;
}

.j-ui_icon:before{
  display:inline-block;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  font-size:inherit;
  line-height:1;
  font-family:TripAdvisor_Regular!important;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-decoration:underline;
}

.j-ui_icon.ui_icon:before{
  text-decoration:none;
}

.j-ui_icon.activities:before{
  content:"\e063";
}

.j-ui_icon.arrow-down:before{
  content:"\e07c";
}

.j-ui_icon:before{
  display:inline-block;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  font-size:inherit;
  line-height:1;
  font-family:TripAdvisor_Regular!important;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-decoration:underline;
}

.j-ui_icon.ui_icon:before{
  text-decoration:none;
}

.j-ui_icon.pencil:before{
  content:"\e00f";
}

.j-ui_icon.share:before{
  content:"\e09a";
}

div,h1,h2,li,ul{
  margin:0;
  padding:0;
}

img{
  border:0;
}

ul{
  list-style:none;
}

h1,h2{
  font-size:100%;
  font-weight:700;
}

button{
  font-family:inherit;
}

a{
  text-decoration:none;
}

.j-ui_button{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  position:relative;
  display:inline-block;
  padding:8px 16px;
  font-weight:700;
  font-family:inherit;
  border:1px solid transparent;
  border-radius:2px;
  background-clip:padding-box;
  box-sizing:border-box;
  font-size:14px;
  line-height:18px;
  text-align:center;
  text-decoration:none;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;cursor:pointer;
  transition:background-color .2s;
}

.j-ui_button:focus:active{
  text-decoration:none;
  outline:none;
}

.j-ui_button.fullwidth{
  width:100%;
}

.j-ui_button.primary{
  border-color:#000;
  border-radius:3px;
  background-color:#000;
  color:#fff;
}

.j-ui_button.primary:not(.disabled):hover{
  text-decoration:none;
  border-color:#292929;
  background-color:#292929;
}

.j-ui_button.primary:not(.disabled):focus{
  outline:none;
  text-decoration:none;
  box-shadow:0 0 0 2px #fff,0 0 0 3px #000;
}

.j-ui_button.primary:not(.disabled):active{
  border-color:#525252;
  background-color:#525252;
  box-shadow:none;
}

.j-ui_bubble_rating{
  display:inline-block;
  position:relative;
}

.j-ui_bubble_rating:after, .j-ui_bubble_rating:before{
  display:inline-block;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  font-size:inherit;
  line-height:1;
  font-family:TripAdvisor_Regular!important;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.j-ui_bubble_rating:before{
  color:#fff;
  display:block;
  content:"\e00a\e00a\e00a\e00a\e00a";
}

.j-ui_bubble_rating:after{
  position:absolute;
  top:0;
  left:0;
  color:#00aa6c;
}

.j-ui_bubble_rating.bubble_40:after{
  content:"\e00b\e00b\e00b\e00b\e00d";
}

.j-ui_bubble_rating.bubble_50:after{
  content:"\e00b\e00b\e00b\e00b\e00b";
}

@media print{
  .j-ui_bubble_rating:before{
    color:transparent;
  }
}

.j-ui_avatar{
  overflow:hidden;
  position:relative;
  width:42px;
  height:42px;
  border-radius:42px;
}

.j-ui_avatar:after{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  box-shadow:inset 0 0 6px 0 rgba(0,0,0,.1);
  border-radius:inherit;
}

.j-ui_header.h1{
  font-weight:700;
  font-size:32px;
  line-height:36px;
  color:#000;
}

@media (max-width:767px){
  .j-ui_header.h1{
    font-size:18px;
    line-height:22px;
  }
}

.j-ui_columns{
  margin-left:-12px;
  margin-right:-12px;
  box-sizing:border-box;
}

@media (max-width:767px){
  .j-ui_columns{
    margin-left:-8px;
    margin-right:-8px;}
}

.j-ui_columns.is-mobile{
  display:-webkit-flex;
  display:flex;
}

.j-ui_columns.is-multiline{
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
}

@media (min-width:768px){
  .j-ui_columns:not(.is-desktop){
    display:-webkit-flex;
    display:flex;
  }
}

.j-ui_column{
  display:block;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:1;
  flex-grow:1;
  -webkit-flex-shrink:1;
  flex-shrink:1;
  padding:12px;
  box-sizing:border-box;
}

@media (max-width:767px){
  .j-ui_column{
    padding:8px;
  }
}

@media (max-width:767px){
  .j-ui_column.is-2-mobile{
    -webkit-flex:none;
    flex:none;
    width:16.66666667%;
  }
  .j-ui_column.is-10-mobile{
    -webkit-flex:none;
    flex:none;width:83.33333333%;
  }

  .j-ui_column.is-12-mobile{
    -webkit-flex:none;
    flex:none;
    width:100%;
  }
}

@media (min-width:768px){
  .j-ui_column.is-2-tablet{
    -webkit-flex:none;
    flex:none;
    width:16.66666667%;
  }
  .j-ui_column.is-10-tablet{
    -webkit-flex:none;
    flex:none;
    width:83.33333333%;
  }
  .j-ui_column.is-12-tablet{
    -webkit-flex:none;
    flex:none;
    width:100%;
  }
}

.j-ui_icon:before{
  display:inline-block;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  font-size:inherit;
  line-height:1;
  font-family:TripAdvisor_Regular;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-decoration:underline;
}

.j-ui_icon:before{
  text-decoration:none;
}

.j-ui_icon.share {
  color: rgb(44,44,44);
  cursor: pointer;
  display: inline;
  font-family: "Trip Sans", Arial, sans-serif;
  font-size: 20px;
  height: auto;
  width: auto;
  text-align: right;
}

.j-ui_icon.share:before{
  content:"\e09a";
}

.j-ui_bubble_rating {
  display:inline-block;
  position:relative;
}

.j-ui_bubble_rating:after,.ui_bubble_rating:before {
  display:inline-block;
  font-family:TripAdvisor_Regular;
  font-size:inherit;
  font-style:normal;
  font-variant:normal;
  font-weight:400;
  line-height:1;
}
.j-ui_bubble_rating:before {
  color:#fff;
  content:"\e00a\e00a\e00a\e00a\e00a";
  display:block;
}
.j-ui_bubble_rating:after {
  color:#00aa6c;
  left:0;
  position:absolute;
  top:0;
}

.j-ui_bubble_rating.bubble_0:after {
  content:"\e00d\e00d\e00d\e00d\e00d";
}

.j-ui_bubble_rating.bubble_05:after {
  content:"\e00c\e00d\e00d\e00d\e00d";
}

.j-ui_bubble_rating.bubble_10:after {
  content:"\e00b\e00d\e00d\e00d\e00d";
}

.j-ui_bubble_rating.bubble_15:after {
  content:"\e00b\e00c\e00d\e00d\e00d";
}

.j-ui_bubble_rating.bubble_20:after {
  content:"\e00b\e00b\e00d\e00d\e00d";
}

.j-ui_bubble_rating.bubble_25:after {
  content:"\e00b\e00b\e00c\e00d\e00d";
}

.j-ui_bubble_rating.bubble_30:after {
  content:"\e00b\e00b\e00b\e00d\e00d";
}

.j-ui_bubble_rating.bubble_35:after {
  content:"\e00b\e00b\e00b\e00c\e00d";
}

.j-ui_bubble_rating.bubble_40:after {
  content:"\e00b\e00b\e00b\e00b\e00d";
}

.j-ui_bubble_rating.bubble_45:after {
  content:"\e00b\e00b\e00b\e00b\e00c";
}

.j-ui_bubble_rating.bubble_50:after {
  content:"\e00b\e00b\e00b\e00b\e00b";
}

.j-rtl .j-ui_bubble_rating:after,.rtl .j-ui_bubble_rating:before {
  transform:scaleX(-1);
}

@media print {
  .j-ui_bubble_rating:before {
    color:transparent;
  }
}

.j-ui_single_bubble_rating {
display:inline-block;
position:relative;
}

.j-ui_single_bubble_rating:after,.ui_single_bubble_rating:before {
  display:inline-block;
  font-family:TripAdvisor_Regular!important;
  font-size:inherit;
  font-style:normal;
  font-variant:normal;
  font-weight:400;
  line-height:1;
}

.j-ui_single_bubble_rating:before {
  color:#fff;
  content:"\e00a";
  display:block;
}

.j-ui_single_bubble_rating:after {
  color:#00aa6c;
  content:"\e00b";
  left:0;
  position:absolute;
  top:0;
}

.j-ui_shelf_item_container .j-item.ui_bubble_rating {
  display:inline-block;
  vertical-align:top;
  width:100%;
}

.j-ui_shelf_item_container .j-item.ui_bubble_rating .j-ui_rating_wrapper {
  display:inline-block;
}

.j-ui_shelf_item_container .j-item.ui_bubble_rating .j-reviewCount {
  font-size:12px;
  line-height:16px;
  margin:0 5px;
}

.j-ui_poi_review_rating .j-ui_bubble_rating {
  margin-left:1px;
  padding-bottom:1px;
  vertical-align:middle;
}

.j-ui_shelf_poi_bubble_rating .j-ui_poi_review_rating {
margin-bottom:0!important;
padding-top:0!important;
}

.j-ui_shelf_poi_bubble_rating .j-ui_poi_review_rating .j-reviewCount {
font-size:12px!important;
}
